<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/Demo12.js"></script>
    <link href="/CSS/Styles.css" rel="stylesheet" />
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <input type="text" placeholder="Search name &city" ng-model="searchText" />        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tr ng-repeat="emp in employees|filter:search">
                <td>{{emp.name}}</td>
                <td>{{emp.DOB|date:"MM/dd/yyyy"}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.city}}</td>
                <td>{{emp.salary}}</td>
            </tr>
        </table>
    </div>

    <div ng-controller="myController1">
        <input type="text" placeholder="Search name" ng-model="searchText.name" />
        <input type="text" placeholder="Search city" ng-model="searchText.city" />
        <input type="checkbox" ng-model="exactMatch" />Exact Match?<br /><br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tr ng-repeat="emp in employees|filter:searchText:exactMatch">
                <td>{{emp.name}}</td>
                <td>{{emp.DOB|date:"MM/dd/yyyy"}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.city}}</td>
                <td>{{emp.salary}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
