<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/Demo7.js"></script>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <table>
            <thead>
            <th>Language</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Like/Dislike </th>
            </thead>
            <tr ng-repeat="technology in technologies">
                <td>
                    {{technology.name}}
                </td>
                <td>
                    {{technology.likes}}
                </td>
                <td>
                    {{technology.dislikes}}
                </td>
                <td>
                    <input type="button" value="Likes" ng-click="incrementLikes(technology)" /> <input type="button" value="DisLikes" ng-click="incrementDisLikes(technology)" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
