<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/Demo8.js"></script>
    <link href="/CSS/Styles.css" rel="stylesheet" />
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        Row to Display <input type="number" step="1" min="0" max="5" ng-model="rowLimit" />
        <br />
        <table>
            <thead>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Salary</th>
            </thead>
            <tr ng-repeat="employee in employees|limitTo:rowLimit">
                <td>{{employee.name|uppercase}}</td>
                <td>{{employee.DOB|date:"dd/MM/yyyy"}}</td>
                <td>{{employee.gender|lowercase}}</td>
                <td>{{employee.salary|number:2}}</td>
                <td>{{employee.salary|currency:"^":1}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
